{% extends 'base.html.twig' %}

{% block title %}
	{{product.name}}
	- Boutique Afro-Centro
{% endblock %}

{% block content %}

	<div class="product-container">
		<div class='col-md-5'>
			<img src="{{ product.illustration }}" alt="{{product.name}}" class='img-fluid'>
		</div>
		<div class='col-md-7 my-auto'></div>
		<h3>{{product.name}}</h3>
		<p>
			{{product.subtitle}}
		</p>
		<span class="product-price">{{ (product.price /100)|number_format(2) }}
			€</span>
		<hr>
		<p>
			{{product.description}}
		</p>
		<a href="" class="btn btn-primary">Ajouter au Panier</a>
	</div>

{% endblock %}
